* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .container section {
    height: 400px;
    width: 400px;
  }
  .container #first-section header {
    display: none;
  }
  .container #first-section .content {
    width: 300px;
    text-align: center;
  }
  .container #first-section .content .big-text h1 {
    font-size: 2.5rem;
  }
  .container #first-section .content .email-validation {
    justify-content: center;
  }
  .container #first-section .content .email-validation input {
    width: 200px;
    height: 30px;
    font-size: 1rem;
  }
  .container #first-section .content .email-validation button {
    width: 70px;
    height: 50px;
    transform: translateX(-25px);
  }
  .container #first-section .content #error-icon {
    position: absolute;
    transform: translateX(10px) translateY(-37px);
  }
  .container #second-section header {
    width: 400px;
    height: 100px;
  }
  .container #second-section header img {
    margin: 25px;
  }
  .container #second-section #heroine {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
  }
  .container section {
    height: 800px;
  }
  .container #first-section {
    width: 830px;
  }
  .container #first-section .content {
    width: 450px;
  }
  .container #first-section .content .big-text h1 {
    font-size: 4rem;
  }
  .container #first-section .content .email-validation input {
    width: 400px;
    height: 50px;
    font-size: 1.5rem;
  }
  .container #first-section .content .email-validation button {
    width: 100px;
    height: 60px;
    transform: translateX(-50px);
  }
  .container #first-section .content #error-icon {
    position: absolute;
    transform: translateX(270px) translateY(-40px);
  }
  .container #second-section header {
    display: none;
  }
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
body .container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .container #first-section {
  background-color: #FFF9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container #first-section header {
  margin-bottom: 150px;
}
body .container #first-section .content .big-text {
  margin-bottom: 20px;
}
body .container #first-section .content .big-text h1 {
  color: #413a3a;
}
body .container #first-section .content .big-text h1 span {
  font-weight: 300;
  color: #ce9797;
}
body .container #first-section .content p {
  line-height: 1.5;
  margin-bottom: 50px;
  color: #ce9797;
}
body .container #first-section .content .email-validation {
  display: flex;
  align-items: center;
}
body .container #first-section .content .email-validation input {
  border-color: #f96262;
  outline: none;
  border-radius: 100px;
}
body .container #first-section .content .email-validation button {
  cursor: pointer;
  border-radius: 100px;
  border-width: 0px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  outline: none;
}
body .container #first-section .content #validation-status {
  font-size: 0.8rem;
  position: absolute;
}
body .container #second-section {
  background: url("/images/hero-desktop.jpg") no-repeat;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
